<title>CSS basics, Session 3</title>
<style>
  * { margin: 0; }
  .square{
    background: blue;
    width: 300px;
    height: 300px;
    margin: 50px;

  }
  .container{
    overflow: auto;
  }
</style>
</head>

<body>
<!-- <div class="container">
<div class="square red"></div>
<div class="square"></div>
</div> -->

<div class="container">
  <div class="square">
  </div>
  <div class="square">
  </div>
</div>

</body>

</html>
